@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,800,800i,900,900i&display=swap');
        
        .text-selection-none{
            user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none;
        } 
        .content-title {
            font-weight: 900;
            font-size: 12vh;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
        .content-title-mobile {
            font-weight: 900;
            font-size: 10vh;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
        .content-subtitle {
            font-size: 2.5vh;
            line-height: 1.05;
            margin-block-start: 0px;
        }
        .content-wrapper {
            margin-left: 15vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            text-align: left;
            flex-flow: column nowrap;
            font-family: Montserrat;
            -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
            will-change: transform;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
        }
        .content-wrapper-mobile {
            height: 100vh;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-flow: column nowrap;
            font-family: Montserrat;
            -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
            will-change: transform;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
        }
        .bold {
            font-weight: 600;
        }
        .italic {
            font-style: italic;
        }
        .design {
            background-color:  #eee;
            color: #111;
        }
        .button {
            background:none;
            border-width: none;
            font-weight: 400;
        }
        .button:hover {
            transition: border-width 0.7s;
            cursor: pointer;
            background-color: #eee;
            font-weight: 600;
            color: #111;
            border-style: solid;
            border-width: 0px 15px;
            border-color: #eee;
        }
        .design-button {
            background:none;
            border-width: none;
        }
        .design-button:hover {
            background-color: #111;
            color: #eee;
            transition: border-width 0.7s;
            cursor: pointer;
            font-weight: 600;
            border-style: solid;
            border-width: 0px 15px;
            border-color: #111;
        }        

        html, body {
            margin: 0;
            padding: 0;
            cursor: default;
            background-color: #111;
            color: #eee;
            overflow: hidden;
        }