@import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-image: url(http://s1.1zoom.me/b5050/233/Painting_Art_Sunrises_and_sunsets_Mountains_Deer_529666_1366x768.jpg);
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url(https://i.pinimg.com/originals/70/a9/fd/70a9fd0ba696a92aeeef34d8f755b472.jpg);
}
.background:nth-child(3) {
  background-image: url(https://www.wallpapermaiden.com/wallpaper/6993/download/1366x768/firewatch-landscape-forest-minimalistic.jpg);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3;
}

.background:nth-child(2) {
  z-index: 2;
}

.background:nth-child(3) {
  z-index: 1;
}

.innercontent {
  align-self: center;
  background-color: rgba(30, 30, 30, 0.7);
  height: 60%;
  width: 90%;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-weight: 900;
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.down-scroll .scroller {
  height: 40px;
  line-height: 40px;
  float: left;
  margin-left: 7px;
  overflow: hidden;
}
.background.down-scroll .scroller span {
  display: block;
  font-size: 160%;
  color: #222;
}
.background.down-scroll .scroller .inner {
  -webkit-animation: scroll 8s infinite ease-out;
          animation: scroll 8s infinite ease-out;
}
@-webkit-keyframes scroll {
  15% {
    margin-top: 0px;
  }
  30% {
    margin-top: 0px;
  }
  45% {
    margin-top: -40px;
  }
  60% {
    margin-top: -40px;
  }
  75% {
    margin-top: -80px;
  }
  90% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes scroll {
  15% {
    margin-top: 0px;
  }
  30% {
    margin-top: 0px;
  }
  45% {
    margin-top: -40px;
  }
  60% {
    margin-top: -40px;
  }
  75% {
    margin-top: -80px;
  }
  90% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0px;
  }
}
